@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --moderno:#1D202B;
    --principal:#009bb5;
    --botones:#00c5e3;
    --bg-color:#c2fff9;
    --hover:#004255;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

/*HEADER*/
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.sub-header{
    display: flex;
    justify-content: space-around;
    background: var(--moderno);
    height: 50px;
}

.social-link{
    display: flex;
    gap: 15px;
}
.social-link li{
    list-style: none;
}
.social-link li i{
    color: #fff;
    font-size: 25px;
}
.comunicacion{
    display: flex;
    gap: 15px;
}
.comunicacion li{
    list-style: none;
}
.comunicacion li a{
    text-decoration: none;
    color: #fff;
}
.columna-1{
    margin-top: 12px;
}
.columna-2{
    margin-top: 12px;
}

.secciones{
    height: 4.5rem;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.scroll-color{
    background: var(--principal);
    transition: all 0.5s ease-in;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.logo{
    display: flex;
    height: 4.5rem;
}
.logo img{
    width: 100%;
    height: auto;
}
.col-seccion{
    width: 50%;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.col-seccion ul li{
    list-style: none;
}
.col-seccion ul li a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
/*.col-seccion .menu .rep a::before{
    content: '';
    position: absolute;
    
    bottom: 0;
    transform: translateY(50%);
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all .5s ease;
    border-radius: 10px;
}
.col-seccion .menu .rep:hover a::before{
    opacity: 1;
    background-color: black;
}*/
.col-seccion .menu .rep a:hover{
    color: yellow;
    transition: all 0.5s ease-in;
}

/* Teléfonos */
@media only screen and (max-width: 575px){
    .sub-header{
        display: none;
    }
}
.menu li{
    padding: 5px;
}
.menu li:hover{
    border-radius: 10px;
    transition: .3s;
    padding: 5px;
    transition: .3s ease-out;
}

/*NAV*/
nav{
    display: none;
}
nav .logo{
    display: none;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}

nav ul li a{
    color: #212556;
    display: block;
    margin: 0 2px;
    font-weight: 500;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #222;
}

nav ul li a:hover{
    color: #fff;
}
.barras{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.barras div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: white;
}

@media only screen and (max-width:850px){
    nav{
        position: absolute;
        left: -3000px;
        top: 0;
        z-index: 999;
        width: 100%;
        min-height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
        display: block;
        background: var(--bg-color);
    }
    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .barras{
        display: block;
    }
    #nav_check:checked ~ nav{
        left: 0;
    }
    #nav_check:checked ~ .secciones{
        display: block;
    }
    .col-seccion{
        display: none;
    }
    .row{
        justify-content: space-between;
        margin: 10px;
    }
    nav .logo img{
        margin-top: 25px;
    }
    .menu li:hover{
        background-color: var(--hover);
    }
    nav .menu li ul{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        margin-top: 0;
    }
    nav .menu li:hover ul{
        position: static;
        opacity: 1;
        visibility: visible;
    }
}

.col-seccion .menu li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
    background: var(--principal);
    width: 7rem;
    padding-top: 1rem;
    border-radius: 10px;
    
}
.col-seccion .menu li ul li a{
    color: white;
    padding-left: 1rem;
    font-size: 16px;
}

.col-seccion .menu li ul li a:hover{
    color: black;
    transition: all 0.1s ease-in;
}
.col-seccion .menu li:hover ul {
    opacity: 1;
    visibility: visible;
}
.cont-head{
    height: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin-right: 1.5rem;
    align-items: center;
}
.cerrar{
    height: 100%;

}
.cerrar i{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

/*FIN HEAEDER*/

/*BANNER*/

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
}
.img-banner{
    position: relative;
    width: 100%;
    height: 100%;
}
.img-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.img-banner img{
    min-width: 100%;
    max-height: 100vh;
    height: auto;
    width: auto;
    object-fit: cover;
}
.text-banner{
    position: absolute;
    top: 50%; /* Coloca el texto en el 50% de la parte superior del contenedor */
    left: 50%; /* Coloca el texto en el 50% de la parte izquierda del contenedor */
    transform: translate(-50%, -50%); /* Centra el texto vertical y horizontalmente */
    color: white;
    text-align: center; /* Alinea el texto al centro */
    padding: 0 20px; /* Agrega un relleno horizontal para el texto */
}
.text-banner h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: yellow;
}
.text-banner p{
    font-size: 2rem;
    color: var(--principal);
}
@keyframes vibrar {
    0% { transform: translateX(0); } /* Estado inicial, sin desplazamiento */
    25% { transform: translateX(-3px); } /* Desplazamiento hacia la izquierda */
    50% { transform: translateX(3px); } /* Desplazamiento hacia la derecha */
    75% { transform: translateX(-3px); } /* Otro desplazamiento hacia la izquierda */
    100% { transform: translateX(0); } /* Regresa a la posición inicial */
}
.text-banner button{
    margin-top: 1.5rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background: var(--botones);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), /* Sombra normal */
                0px 0px 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
    animation: vibrar 0.5s infinite;
}
.text-banner button:hover{
    background: var(--hover);
    color: white;
    transition: all 0.3s ease-in;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), /* Aumenta la sombra cuando se pasa el cursor */
                0px 0px 20px rgba(255, 255, 255, 0.7);
    animation: none;
    cursor: pointer;
}

@media only screen and (max-width: 575px) {
    .text-banner h3 {
        font-size: 2.5rem;
    }
    
    .text-banner p {
        font-size: 1rem;
    }
    
    .text-banner button {
        font-size: 1rem;
    }
    .img-banner{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .text-banner h3 {
        font-size: 4rem;
    }
    
    .text-banner p {
        font-size: 2rem;
    }
    
    .text-banner button {
        font-size: 2rem;
    }
    .img-banner{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .text-banner h3 {
        font-size: 5rem;
    }
    
    .text-banner p {
        font-size: 3rem;
    }
    
    .text-banner button {
        font-size: 3rem;
    }
    .img-banner{
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
}

/*FIN BANNER*/

/*SERVICIOS*/

.serv-title{
    width: 100%;
    background: var(--bg-color);
    color: #111;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
}

.servicios{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;*/

}

.content-servicios{
    background: var(--principal);
    width: 300px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 380px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}
.content-servicios:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra para efecto 3D */
    transform: translateY(-8px); /* Levanta ligeramente la tarjeta */
}
.serv-logo{
    width: 100%;
    height: 200px;
}
.serv-logo img{
    width: 100%;
    height: 100%;

}
.serv-logo i{
    width: 100%;
    height: 100%;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.serv-txt{
    width: 100%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}
.serv-txt p{
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    height: 100%;
    color: #fff;
}
.serv-link{
    width: 100%;
    background: var(--botones);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}
.serv-link:hover{
    background: var(--hover);
    transition: .5s ease-in;
}
.serv-link a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.serv-plus{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

}
.plus{
    width: 50%;
    background: var(--botones);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.plus:hover{
    background: var(--hover);
    transition: .5s ease-in;
}
.serv-plus p{
    color: white;
    font-size: 20px;
}
.cont-plus a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.desc-title{
    margin-top: 30px;
    width: 100%;
    background: var(--bg-color);
    color: #111;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.desc-title h1{
    text-transform: uppercase;
    text-align: center;
}
.descripcion{
    background: #fff;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
/*FIN SERVICIOS*/

/*DESCRIPCION*/
.cont-desc{
    display: flex;
    align-items: center;
    width: 80%;
}
.desc-txt{
    position: relative;
    flex: 1;
    padding: 2rem;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin-left: 1rem;
    text-align: justify;
    left: -5%;
}
.desc-txt h1{
    font-size: 2rem;
    font-weight: 7  00;
    text-transform: uppercase;
}
.desc-txt h1::before{
    content: '';
    width: 40px;
    height: 7px;
    background-color: var(--principal);
    border-radius: 10px;
    position: absolute;
    top: 4rem;
    left: 2rem;
    margin-top: 5px;
}
.desc-txt p{
    margin-top: 10px;
}
.desc-img{
    width: 50%;
    flex: 1;
    height: 100%;
}
.desc-img img{
    width: 100%;
    height: 100%;
}
.cotizacion{
    width: 100%;
    height: 50px;
    background: var(--botones);
    margin-top: 15px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.cotizacion a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
.cotizacion:hover{
    background: var(--hover);
    transition: .5s ease-in;    
}
@media only screen and (max-width: 575px){
    .descripcion{
        display: block;
        min-width: 100%;
        margin: 0;
        padding: 0;
    }
    .cont-desc{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        min-width: 100%;
        top: 0;
        
    }
    .desc-img{
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        justify-content: centers;
    }
    .desc-img img{
        width: 100%;
        
    }
    .desc-txt{
        position: relative;
        min-width: 100%;
        margin: 0;
        left: 0;
    }
    .desc-txt h1::before{
        top: 4.5rem;
        width: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .desc-img img{
        object-fit: cover;
    }
    .cont-desc{
        width: 100%;

    }
    .desc-txt{
        left: 0;
        margin-left: 0;
    }
}

/*FIN DESCRIPCION*/

/*CONTACTANOS*/
.contact-num{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #18e5f8;
    
}
.contact-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.contact-txt .claro{
    color: black;
    font-weight: 600;
    font-size: 30px;
}
.contact-txt .opaco{
    color: #4f4f4f;
}
.contact-txt h1,
.contact-txt h1 i
{
    font-size: 40px;
    color: black;
}

/*FIN CONTACTANOS*/

/*ELECCION*/
.eleccion{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.eleccion-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.eleccion-title h1{
    font-size: 40px;
    text-transform: uppercase ;
}
.eleccion-title p{
    font-size: 20px;
}
.content-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card-ele{
    margin: 2%;
    background: var(--botones);
    width: 300px;
    height: 350px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: .2s all;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
    display: flex;
}
.card-ele>span{
    display: block;
    margin: auto;
    max-width: 280px;
}
.content-card:hover .card-ele{
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}
.content-card:hover .card-ele:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background: var(--hover);
    color: white;
}
.ele-title{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.ele-title h2{
    text-transform: uppercase;
    font-size: 30px;
}
.ele-txt{
    width: 100%;
    height: 100%;
    flex: 1;
}
.ele-txt p{
    text-align: justify;
}
.card-ele span{
    padding: 10px;

    height: 100%;
}

/*FIN ELECCION*/

/*FOOTER*/
.pie-pagina{
    width: 100%;
    background-color: var(--principal);
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo-1 .box p{
    font-size: 20px;
    text-align: justify;
    color: white;
  }
  
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  
  .pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  
  }
  
  .pie-pagina .grupo-1 .box ul li{
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
  }
  
  .pie-pagina .grupo-1 .box ul li a{
    text-decoration: none;
    color: white;
  }
  
  .pie-pagina .grupo-1 .box ul li a:hover{
    color: var(--hover);
    transition: .3s ease;
  }
  
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: yellowgreen;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
    font-size: 25px;
  }
  
  #facebook{
    background-color: #1877f2;
  }
  
  #instagram{
    background: linear-gradient(
          #405de6,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d,
          #f56040,
          #fcaf45
      );
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
    color: yellow;
    
  }
  
  .pie-pagina .grupo-2{
    background-color:#00c8de;
    padding: 15px 10px;
    text-align: center;
    color: var(--white);
  
  }
  
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 30px;
      padding: 35px 0px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
    .pie-pagina .grupo-1{
      grid-template-columns: repeat(2,1fr);
      width: 90%;
      grid-gap: 30px;
      padding: 35px 0px;
    }
    
  }

